Repository Eretnov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines
  - build
  - test
  - notify
  - release

include:
  - template: Security/SAST.gitlab-ci.yml

frontend:
  stage: module-pipelines
  trigger:
    include: "/frontend/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:
      - "frontend/**/*"

backend:
  stage: module-pipelines
  trigger:
    include: "/backend/.gitlab-ci.yml"
    strategy: depend
  rules:
    - changes:
      - "backend/**/*"

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Add mongodb unit file
  backend/backend.service
Due: backend

Fix Scheduler
  backend/backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
Due: backend

Fix Scheduler Generator
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
Due: backend

MongoDB
  backend/.gitlab-ci.yml
  backend/backend.service
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/log4j2.yml
Due: backend

Log size
  backend/src/main/resources/log4j2.yml
Due: backend

Docker backend
  .gitignore
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  backend/deploy_template.sh
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
Due: frontend, backend

Fix deploy-image stage
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Add crt for pg
  backend/.gitlab-ci.yml
Due: backend

Fix var crt for pg
  backend/.gitlab-ci.yml
Due: backend

Add cert for mongo
  backend/.gitlab-ci.yml
Due: backend

Unset spring vars
  backend/.gitlab-ci.yml
Due: backend

Unset vars for SQ
  backend/.gitlab-ci.yml
Due: backend

Fix var for deploy image
  backend/.gitlab-ci.yml
Due: backend

Add envsubst
  backend/.gitlab-ci.yml
Due: backend

Fix apt
  backend/.gitlab-ci.yml
Due: backend

apk replacement
  backend/.gitlab-ci.yml
Due: backend

Docker frontend
  backend/Dockerfile
  frontend/.gitlab-ci.yml
  frontend/deploy_template.sh
Due: frontend, backend

Fix docker start
  frontend/deploy_template.sh
Due: frontend

Microfix
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Remove rules for MR PL
  .gitlab-ci.yml
Due: none

Docker
  .gitignore
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/deploy.sh
  backend/deploy_template.sh
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/default.conf
  frontend/deploy_template.sh
Due: frontend, backend

Test VSC
  .gitignore
Due: none

Picture from S3
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

Picture in s3
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

Vault
  backend/.gitlab-ci.yml
  backend/deploy_template.sh
  backend/pom.xml
  backend/src/main/resources/application.properties
  frontend/.gitlab-ci.yml
Due: frontend, backend

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app/handlers/health.handler.go
  backend-report/app/models/health.model.go
  backend-report/app/repositories/report/report.repository.go
  backend-report/app/services/health/health.service.go
  backend-report/app/services/health/health.service_test.go
  backend-report/app/services/report/report.service.go
  backend-report/config/config.go
  backend-report/docs/docs.go
  backend-report/go.mod
  backend-report/go.sum
  backend-report/main.go
  backend-report/routes/api.go
  backend-report/utility/common.go
  backend-report/utility/errors.go
  backend-report/utility/handler.go
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

Microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend/.gitlab-ci.yml
  backend/Dockerfile
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
Due: frontend, backend

Add vault to new deploy
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: backend

Fix vault master
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: backend

Revision compose
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Add dir for reports
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Fix report path
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  docker-compose.yml
Due: backend

Remove env for backend-report
  backend-report/.gitlab-ci.yml
Due: none

Fix Dockerfile backend
  backend/.gitlab-ci.yml
  backend/Dockerfile
  docker-compose.yml
Due: backend

Balancer
  backend/.gitlab-ci.yml
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend, backend

Deploy
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/pom.xml
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: backend

Manual deploy on
  backend-report/.gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend
