Repository Eretnov/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include: /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include: /backend/.gitlab-ci.yml
    strategy: depend

Trigger job
  backend/test
  frontend/test
Due: frontend, backend

Fix needs
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Start pipeline
  .gitlab-ci.yml
  backend/test
  frontend/test
Due: frontend, backend

Move settings
  backend/.gitlab-ci.yml
  backend/settings.xml
Due: backend

Delete smgrep
  backend/.gitlab-ci.yml
Due: backend

Test Pipeline
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Fix Curl
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Remove needs
  backend/.gitlab-ci.yml
Due: backend

Add extends
  backend/.gitlab-ci.yml
Due: backend

Change SAST
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Test Build
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Fix pom
  backend/.gitlab-ci.yml
  backend/pom.xml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Test SSH connect
  backend/.gitlab-ci.yml
  backend/deploy.sh
Due: backend

Add deploy backend
  backend/.gitlab-ci.yml
  backend/backend.service
  backend/deploy.sh
Due: backend

Fix deploy backend
  backend/.gitlab-ci.yml
Due: backend

Fix curl nexus
  backend/deploy.sh
Due: backend

Fix mvn vars
  backend/.gitlab-ci.yml
Due: backend

Test version
  backend/.gitlab-ci.yml
Due: backend

Test version jar
  backend/.gitlab-ci.yml
Due: backend

Fix version pom
  backend/pom.xml
Due: backend

Remove old version from curl
  backend/deploy.sh
Due: backend

Add deploy frontend
  backend/backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
Due: frontend, backend

Fix deploy script
  frontend/deploy.sh
Due: frontend

Fix tar
  frontend/deploy.sh
Due: frontend

Fix rm tmp
  frontend/deploy.sh
Due: frontend

Fix service file
  backend/backend.service
Due: backend

Test Deploy Frontend
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
Due: backend

New Test Deploy Frontend
  frontend/src/app/ecommerce/ecommerce.component.html
Due: frontend

Add environment
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Test rollback
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  frontend/src/app/ecommerce/ecommerce.component.html
Due: frontend, backend

Different names for env
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Test rollback env
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  frontend/deploy.sh
  frontend/src/app/ecommerce/ecommerce.component.html
Due: frontend, backend

Resolve "Deploy App"
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/backend.service
  backend/deploy.sh
  backend/pom.xml
  backend/settings.xml
  backend/test_build_backend
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/test_build_frontend
Due: frontend, backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: backend

Add flyway migration scripts
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: backend

Disable flyway for SQ
  backend/.gitlab-ci.yml
Due: backend

Add vars backend unit file
  backend/backend.service
Due: backend

Add env file
  backend/backend.service
Due: backend

Flyway
  backend/.gitlab-ci.yml
  backend/backend.service
  backend/deploy.sh
  backend/pom.xml
  backend/src/main/resources/db/migration/V001__create_tables.sql
  backend/src/main/resources/db/migration/V002__insert_data.sql
  backend/src/main/resources/db/migration/V003__create_index.sql
Due: backend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
